<div class="container-fluid mt-5">
    <div class="row justify-content-center max-content-width">
      <div class="col-12 col-sm-6">
        <h1 class="text-center">Dashboard</h1>
      </div>
    </div>
  
    <div class="row justify-content-center mt-5">
      <div class="col-8 white-bg">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Chart</a>
            <ng-template ngbNavContent>
              <canvas
                baseChart
                chartType="bar"
                [datasets]="chartData"
                [labels]="chartLabels"
                [legend]="chartLegend"
              >
              </canvas>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Logged User</a>
            <ng-template ngbNavContent>
              <pre>{{ user | json }}</pre>
  
              <button type="button" class="btn btn-primary" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover Title"> Popover Test</button>
            </ng-template>
          </li>
        </ul>
  
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
      </div>
    </div>
  </div>
  