<nav class="navbar navbar-expand-lg navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Muniportal de La Unión</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto"  *ngIf="isLoggedIn">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item active">
                <a class="nav-link" routerLink="home"><i class="fa fa-home"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="administrador"><i class="fa fa-user"></i>Administrador</a>
            </li>
           <!---- <li class="nav-item">
                <a class="nav-link" routerLink="dashboard"><i class="fa fa-tachometer"></i>Dashboard</a>
            </li> -->
           <!---- <li class="nav-item">
                <a class="nav-link" routerLink="datosabiertos"><i class="fa fa-address-book"></i>Datos Abiertos</a>
            </li>-->
           <!---- <li class="nav-item">
                <a class="nav-link" routerLink="formularios"><i class="fa fa-clone"></i>Formularios</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="contactenos"><i class="fa fa-mobile"></i>Contáctenos</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" (click)="logout()" routerLink="contactenos"><i class="fa fa-unlock"></i>Logout</a>
            </li>           
        </ul>            
    </div>    
</nav>

