<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid mt-5 login-container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 login-form-2">
            <h3>Login</h3>
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <div class="form-group">
                    <input type="text" name="email" id="email" class="form-control" placeholder="Email Address"
                        [(ngModel)]="credentials.username" #email="ngModel" required />
                    <p class="error" *ngIf="submitted && email.errors?.required ">
                        Email is required.
                    </p>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                        [(ngModel)]="credentials.password" #password="ngModel" required />
                    <p class="error" *ngIf="submitted && password.errors?.required">
                        Password is required.
                    </p>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
                <div *ngIf="errorMsg">
                    <p class="mt-3 error">{{ errorMsg }}</p>
                </div>                
                <div class="col-sm-2 col-xl-1 text-right" *ngIf="isLoggedIn">
                    <button type="button" class="btn btn-outline-primary" (click)="logout()">Logout</button>
                </div>
            </form>
        </div>
    </div>
</div>