<div class="max-content-width white-bg py-5 mt-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h1>Formulario Contactenos</h1>
        </div>
      </div>
    </div>  
    <div class="container-fluid">
      <div class="row" *ngIf="!loading else loadingContainer">
        <div class="col-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Mensaje</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contacto of list">
                <td>{{ contacto.id }}</td>
                <td>{{ contacto.nombre }}</td>   
                <td>{{ contacto.email }}</td>  
                <td>{{ contacto.telefono }}</td>  
                <td>{{ contacto.mensaje }}</td>              
                <td>
                  <button
                    type="button"
                    class="btn btn-link"
                    (click)="deleteContacto(contacto)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>  
      <ng-template #loadingContainer>
        <mp-spinner></mp-spinner>
      </ng-template>
    </div>
  </div>