<!--
    Fuente:
    https://www.mockplus.com/blog/post/bootstrap-4-footer-template
    https://codepen.io/tgeorgetom/pen/LYEOLNv
-->

<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Inicio</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Servicios Municipales</a></li>
                            <li><a href="#">Proyectos</a></li>
                            <li><a href="#">Sobre La Unión</a></li>
                            <li><a href="#">Documentos</a></li>
                            <li><a href="#">Eventos y noticias</a></li>
                            <li><a href="#">Contacto</a></li>                           
                        </ul>
                    </div>                   
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Horarios de atención</h3>
                        <p>Oficinas</p>
                        <p>Lunes a Viernes de 8 a.m. a 4 p.m.</p>
                        <p>Servicio de recaudación (Cajas)</p>
                        <p>Lunes a Viernes de 7 a.m. a 4:30 p.m.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Ubicación</h3>
                        <p>Ubicada Frente a la esquina noreste del Centro de la Cultura y de las Artes (antiguo parque), Tres Ríos.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Redes Sociales</h3>
                        <div class="f_social_icon">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="https://www.youtube.com/channel/UCgvUIPWaySeDAGe-oUTSDUA" target="_blank" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">© 2020 Todos los derechos reservados.</p>
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                    <p>Adaptado por <i class="icon_heart"></i> in <a href="#">Curso Angular CENFOTEC</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>