<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (submit)="submitHandler()">
      <div class="form-group">
        <label for="title">Course Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          placeholder="Angular"
          formControlName="title"
          [ngClass]="{ 'is-invalid': !isFieldValid('title') }"
        />
        <p class="error" *ngIf="!isFieldValid('title')">
          This Field is required
        </p>
      </div>
  
      <div class="form-group">
        <label for="author">Course Author</label>
        <input
          type="text"
          class="form-control"
          name="author"
          id="author"
          placeholder="author name"
          formControlName="author"
          [ngClass]="{ 'is-invalid': !isFieldValid('author') }"
        />
        <p class="error" *ngIf="!isFieldValid('author')">
          This Field is required
        </p>
      </div>
  
      <div class="footer-actions text-right">
        <button
          type="button"
          class="btn btn-outline-dark mr-3"
          (click)="closeModal()"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">{{modalAction}}</button>
      </div>
    </form>
  </div>
  