.contact-us
{
    margin-top: 50px;
    margin-bottom: 75px;
}
my-form {
    color: #305896;
}
.my-form .btn-default {
    background-color: #305896;
    color: #fff;
    border-radius: 0;
}
.my-form .btn-default:hover {
    background-color: #4498C6;
    color: #fff;
}
.my-form .form-control {
    border-radius: 0;
}
.btn-envio{
    background-color: #4498C6;
}

.btn-envio:hover{
    background-color: #df532a;
}