
<div class="container contact-us">
    <div><h3>Contáctenos</h3></div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div id="googlemap" style="width:500%; height:350px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.3081427956267!2d-83.9874157852066!3d9.908273492914066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e11a72b77add%3A0xe175b7611427f6ab!2sMunicipalidad%20de%20La%20Uni%C3%B3n!5e0!3m2!1ses!2scr!4v1598854836753!5m2!1ses!2scr" width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
        </div>
        <br />
        <div class="col-md-6">
            <form [formGroup]="form" (submit)="submitHandler()">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="form-name" placeholder="Nombre" formControlName="nombre" [ngClass]="{ 'is-invalid': !isFieldValid('nombre') }" >
                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" class="form-control" id="form-email" placeholder="Correo" formControlName="email" [ngClass]="{ 'is-invalid': !isFieldValid('email') }">
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" id="form-subject" placeholder="Teléfono"formControlName="telefono" [ngClass]="{ 'is-invalid': !isFieldValid('telefono') }">
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="form-message" placeholder="Mensaje" formControlName="mensaje" [ngClass]="{ 'is-invalid': !isFieldValid('mensaje') }"></textarea>
                </div>
                <button class="btn btn-envio" type="submit">Enviar</button>                
            </form>
        </div>
    </div>
</div>
