<div class="container form-header">
    <div class="row">
        <div class="page-header col-md-12">
            <h1 class="text-center">
                MUNICIPALIDAD DE LA UNIÓN
                <p>
                    <small>
                        Actualización de datos personales<br /> Favor de completar este formulario
                    </small>
                </p>
            </h1>
        </div>
    </div>
</div>
<div class="container form-body">
    <div class="col-md-12">
        <form action="assets/php/guardarActualizacion.php" method="post">
            <div class="row">
                <div class="col-md-4">
                    <fieldset class="form-group">
                        <label>
                            Cédula
                        </label>
                        <div>
                            <input tabindex="1" type="text" name="numeroCedula" class="form-control input-lg"
                                title="Solo números o letras en caso de residencia" pattern="[0-9a-zA-Z]*" value=""
                                minlength="10" maxlength="15" />
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-8">
                    <fieldset class="form-group">
                        <label>
                            Nombre completo
                        </label>
                        <div>
                            <input tabindex="2" type="text" name="nombreCompleto" class="form-control input-lg"
                                placeholder="Gómez Gómez Juan Perez" minlength="5" maxlength="50" value="" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <fieldset class="form-group">
                        <label>
                            Distrito
                        </label>
                        <select name="distrito" class="form-control input-lg" tabindex="3">
                            <option value="0" selected>Elija una:</option>
                            <option value="1">Tres Ríos</option>
                            <option value="2">San Diego</option>
                            <option value="3">San Juan</option>
                            <option value="4">San Rafael</option>
                            <option value="5">Concepción</option>
                            <option value="6">Dulce Nombre</option>
                            <option value="7">San Ramón</option>
                            <option value="8">Río Azul</option>
                        </select>
                    </fieldset>
                </div>
                <div class="col-md-8">
                    <fieldset class="form-group">
                        <label>
                            Correo electrónico
                        </label>
                        <div>
                            <input tabindex="4" type="email" name="correoElectronico" class="form-control input-lg"
                                placeholder="ejemplo@dominio.com" minlength="5" maxlength="30" value="" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <fieldset class="form-group">
                        <label>
                            Habitación
                        </label>
                        <div>
                            <input tabindex="5" type="text" name="telHabitacion" class="form-control input-lg"
                                title="Por favor solo números" pattern="[0-9]*" minlength="8" maxlength="8" value="" />
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-3">
                    <fieldset class="form-group">
                        <label>
                            Trabajo
                        </label>
                        <div>
                            <input tabindex="6" type="text" name="telTrabajo" class="form-control input-lg"
                                title="Por favor solo números" pattern="[0-9]*" minlength="8" maxlength="8" value="" />
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-3">
                    <fieldset class="form-group">
                        <label>
                            Fax
                        </label>
                        <div>
                            <input tabindex="7" type="text" name="telFax" class="form-control input-lg"
                                title="Por favor solo números" pattern="[0-9]*" minlength="8" maxlength="8" value="" />
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-3">
                    <fieldset class="form-group">
                        <label>
                            Celular
                        </label>
                        <div>
                            <input tabindex="8" type="text" name="telCelular" class="form-control input-lg"
                                title="Por favor solo números" pattern="[0-9]*" minlength="8" maxlength="8" value="" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="form-group">
                        <label>
                            Dirección
                        </label>
                        <div>
                            <textarea tabindex="9" rows="3" name="direccion" class="form-control input-lg"
                                placeholder="Escriba aquí su dirección"
                                tooltipText="Este es el texto que aparecerá como ayuda" minlength="15"
                                maxlength="250"></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>           
        </form>
    </div>
</div>